* {
    background-color: white;
    color: orangered;
    font-family: monospace;
    padding: 10px;
  }
  header{
    font-size: 50px;
    font-weight: bold;
  }
  img{
    width: 380px;
    border: 20px solid orangered;
    padding: 0px;
  }
  h1{
    font-weight: bold;
    font-size: 30px;
  }
  ul {
    font-size: 20px;
    margin-left: 30px;
    list-style: none;
    text-decoration: underline;
    width:100%;
    
    
  }
  
  ul li{
    padding:5px;
    margin-left: 40px;
    
  }
  
  ul li::before {
    content: "\2022";  
    color: black; 
    font-weight: bolder;  
    width: 25px;
    margin-left: -1em;
    display: inline-block;
  }
  