* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: arial;
    padding: 0.2em;
    background-color: whitesmoke;
    color: black;
    text-align: center;
  
  
  }
  body{
    height: 100%;;
  }
  h1{
    font-weight: bold;
    text-decoration: underline;
  }
  p{
    font-size:20px;
    padding-left: 15px;
  }
  input{
    font-size: 20px;
    padding-left: 15px;
    margin-left: 20px;
    width: 60px;
    background-color: lightblue;
  }
  button{
    height: 50px;
    width: 90px;
    font-size: 15px;
    font-weight: bold;
    background-color: gray;
    margin-left: 20px;
  }
  ul{
    font-size: 30px;
    margin-left: 25px;
    padding-left:20px;
    font-weight: bold;
  }
  